<!doctype html>
<head>
<title>Ruling sheet generator</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
  <header>
    <h1>Calligraphy ruling sheet generator</h1>
  </header>
  <body>
    <h2> Generator</h2>
  <form action="{{ url_for('pdf') }}" method="get">
    <label for="nib_width">Nib width in mm (All other measurements are in multiples of this) </label>  
    <input id="nib_width" type="text" name="nib_width" required/> 
  
    <label for="partitions">Partitions (Comma separated list of partitions)</label>
    <input id="partitions" type="text" name="partitions" required/>
    
    <label for="gap">Gap (Gap between rulings)</label>
    <input id="gap" type="number" name="gap" value="3" required/> 
    
    <label for="top_margin">Top margin (Margin at the the top)</label>
    <input id="top_margin" type="number" name="top_margin" value="3" required/>    

    <label for="rulings">Number of rulings (Number of rulings)</label>    
    <input id="rulings" type="number" name="rulings" value="10" required/> 
    
    <label for="angles">Angle guides (Comma separated list of angle guides in degrees)</label>
    <input id="angles" type="text" name="angles" /> 

    <label for="distance">Distance (in mm) between angle guides</label>
    <input id="distance" type="text" name="distance" value="10" required/> 
    
    <label for="title">Title (Title for this sheet)</label>
    <input id="title" type="text" name="title" required value="ruling"/> 

    <label for="pagesize">Page size</label>
    <select id="title" name="pagesize" required>
      <option value="A4">A4</option>
      <option value="A3">A3</option>
    </select>

    <label for="landscape">Landscape (Check if you want landscape rather than portrait orientation)</label>
    <input id="landscape" type="checkbox" name="landscape" />
    
    <label for="radial">Radial (Check if you want a radial rather than a linear sheet)</label>
    <input id="radial" type="checkbox" name="radial" /> 

    <br/>
    <input type="submit" name="generate" value="generate"/>

  </form>


  <h2> History </h2>
    I have a dilettante's interest in calligraphy but was often put off by the tedium of ruling my practice sheets. Being a programmer by trade, I wrote <a href="https://github.com/nibrahim/Calligraphic-Rulings">a little script</a> that generated PDFs for this. Someone on the excellent <a href="http://www.calligraph.com/cyberscribes/">cyberscribes mailing list</a> asked for such a tool so I wrapped it up as a web application and put it online here. 
    <h2> Usage </h2>
    Following is a description of each field. 
    <dl>
      <dt>Nib width</dt>
      <dd>This is the width of your nib in millimeters. All other measurements (unless specified otherwise) are in multiples of this. A Speedball C3 nib which I most commonly use for practice is approximately 2mm wide. For that, you'd enter <code>2</code> here.</dd>
      <dt>Partitions</dt>
      <dd>This is a list of partitions which each line should have. For a hand like the <a href="http://www.clas.co.uk/px/starting-out-2.jpg">Foundational</a>, the x-height is 4 nib widths, the ascenders go upto 3 nibs about the waist line and the descenders drop to 3 nib widths below the base line. This means that you would enter <code>3,4,3</code> in the partitions box and you'd get rulings giving you your cap line, waist line, base line and drop line. It will automatically adjust this based on your nib width. Fractions are allowed here so you can say things like <code>2.5,3,4.5</code> and it will work. You can put as many partitions are you want separated by commas.</dd>
      <dt>Gap</dt>
      <dd>This is the gap between successive lines. It will be greyed out so will appear as a thick bar.</dd>
      <dt>Top margin</dt>
      <dd>These many nib widths will be skipped and greyed out at the top.</dd>
      <dt>Number of rulings</dt>
      <dd>The number of lines of text you want the ruling sheet to be generated for.</dd>
      <dt>Angle guides</dt>
      <dd>You can specify a comma separated list of numbers here and the sheet will have lines drawn at these angles. Useful for people like me who need a guide to hold their nibs properly. It's also useful for some scripts like the Italic hand where the text needs a slight inclination.</dd>
      <dt>Title</dt>
      <dd>You can type something here and it will appear in bold on the right of your sheet. I usually put the nib names here so that I can pick things out easily.</dd>
      <dt>Page size (experimental)</dt>
      <dd>This allows you set the page sizes. The default is A4. A3 is the other available option.</dd>
      <dt>Landscape (experimental)</dt>
      <dd>This allows you to change the layout to a landscape (rather than the default portrait)</dd>
      <dt>Radial (experimental)</dt>
      <dd>If you select this, the program will generate a concentric circles with the above specifications rather than parallel lines. This is useful to write circular text. This is a work in progress so feedback is welcome.</dd>
    </dl>
    The script will also draw a nib ladder on either side of the paper for you to double check. 

    The diagram below indicates what the various fields control. 

    <img src="{{ url_for('static', filename='details.png') }}"/>

    <h2> Examples </h2>
    The following is a partial list of sheets which people have generated over the past few months. You can click on them to get a similar sheet for yourself. 
    <ul>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.6&partitions=4%2C4%2C4&gap=3&top_margin=3&rulings=20&angles=&distance=0&title=Italic+hand+from+Harris+0.6mm+&generate=generate'>Italic hand from Harris 0.6mm </a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=2%2C1%2C4%2C4%2C1%2C4%2C1%2C2&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=Foundational+%26+Flourished+Capitals+for+3&generate=generate'>Foundational & Flourished Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2.4&partitions=6%2C6%2C6&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=Italic+hand+from+Harris%2C+2.4mm&generate=generate'>Italic hand from Harris, 2.4mm</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.5&partitions=6%2C6%2C6&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=Italic+hand+from+Harris%2C+1.5mm&generate=generate'>Italic hand from Harris, 1.5mm</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=5%2C5%2C5&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Foundational+Hand+for+3&generate=generate'>Foundational Hand for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C4%2C5&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Essential+Capitals+for+3&generate=generate'>Essential Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C5.6%2C2&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Rounder+Capitals+for+3&generate=generate'>Rounder Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C5.6%2C6&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Rounder+Capitals+Variant+for+3&generate=generate'>Rounder Capitals Variant for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=4%2C4%2C5%2C3&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Flourished+Capitals+for+3&generate=generate'>Flourished Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C5%2C6%2C2&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Round+Capitals+for+3&generate=generate'>Round Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C4%2C1%2C5%2C1%2C2%2C4&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Round+%26+Square+Combi+Capitals+for+3&generate=generate'>Round & Square Combi Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=2%2C3%2C4%2C1%2C5%2C2&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Foundational+%26+Square+Capitals+for+3&generate=generate'>Foundational & Square Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=2%2C3%2C5%2C5%2C1%2C2&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Foundational+%26+Round+Capitals+for+3&generate=generate'>Foundational & Round Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C2%2C4%2C1%2C4%2C1%2C1%2C2%2C4&gap=3&top_margin=3&rulings=15&angles=&distance=10&title=Foundational%2C+Round+%26+Square+Combi+Capitals+for+3&generate=generate'>Foundational, Round & Square Combi Capitals for 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1&partitions=3%2C6&gap=0&top_margin=0&rulings=10&angles=&distance=10&title=x-height+3&generate=generate'>x-height 3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1&partitions=3%2C3&gap=0&top_margin=0&rulings=10&angles=&distance=10&title=x-height+5&generate=generate'>x-height 5</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1&partitions=7%2C7&gap=0&top_margin=0&rulings=10&angles=&distance=10&title=x-height+7&generate=generate'>x-height 7</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1&partitions=6%2C+5%2C+6&gap=2&top_margin=1&rulings=20&angles=80&distance=4&title=italic+1.1mm+pen&generate=generate'>italic 1.1mm pen</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3.7&partitions=1.5%2C0.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C2.5%2C1%2C1.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A0+for+Round+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:0 for Round Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3.7&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A0+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:0 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A1+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:1 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2.4&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A1.5+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:1.5 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.9&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A2+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:2 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.5&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A2.5+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:2.5 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A3+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:3 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A3.5for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:3.5for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.8&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A4+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:4 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.6&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A5+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:5 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.5&partitions=1.5%2C0.5%2C1%2C2%2C2%2C2%2C0.5%2C3%2C0.5&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A6+for+Foundational+Hand&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:6 for Foundational Hand</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1&partitions=3.5%2C+5%2C+3.5&gap=2&top_margin=2&rulings=25&angles=10&distance=6&title=italic%2C+1.1mm+nib&generate=generate'>italic, 1.1mm nib</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=12&partitions=3%2C5%2C4&gap=3&top_margin=3&rulings=10&angles=45&distance=10&title=45+angle+italic&generate=generate'>45 angle italic</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3.7&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A0&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:0</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A1&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:1</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2.4&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A1+1%2F2&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:1 1/2</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.9&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A2&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:2</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.5&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A2+1%2F2&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:2 1/2</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.2&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A3&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A3+1%2F2&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:3 1/2</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.8&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A4&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:4</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.6&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A5&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:5</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=0.5&partitions=3%2C2%2C4%2C2%2C3&gap=3&top_margin=3&rulings=10&angles=40&distance=10&title=William+Mitchell+Square-Cut+Round+Hand+Pen+Size%3A6&generate=generate'>William Mitchell Square-Cut Round Hand Pen Size:6</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3&partitions=2%2C5%2C3&gap=10&top_margin=3&rulings=10&angles=&distance=10&title=practice&generate=generate'>practice</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3&partitions=2%2C5%2C3&gap=3&top_margin=3&rulings=10&angles=50&distance=10&title=3mm+Gothic&generate=generate'>3mm Gothic</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2&partitions=2%2C5%2C2&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=2mm+Gothic&generate=generate'>2mm Gothic</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2&partitions=4%2C5%2C4&gap=3&top_margin=3&rulings=10&angles=45&distance=10&title=2mm+sheets&generate=generate'>2mm sheets</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=3&partitions=4%2C5%2C4&gap=3&top_margin=3&rulings=10&angles=45&distance=10&title=3mm+sheets&generate=generate'>3mm sheets</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1&partitions=5%2C5%2C5&gap=5&top_margin=2&rulings=11&angles=5%2C45&distance=10&title=1+mm+Brause+Italic&generate=generate'>1 mm Brause Italic</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2&partitions=2%2C+4%2C+2&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=ruling-2-4-2&generate=generate'>ruling-2-4-2</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2&partitions=3%2C+5%2C+2&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=ruling-3-5-2&generate=generate'>ruling-3-5-2</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2&partitions=3%2C4%2C3&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=Foundational+Speedball+C-3&generate=generate'>Foundational Speedball C-3</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1mm&partitions=4%2C4%2C4&gap=3&top_margin=3&rulings=10&angles=&distance=10&title=Italic+hand+from+Harris+1.1mm&generate=generate'>Italic hand from Harris 1.1mm</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=2.4&partitions=4%2C4%2C4&gap=3&top_margin=3&rulings=10&angles=40%2C40%2C40&distance=5&title=Italic+hand+from+Harris+2.4mm+angle+40d&generate=generate'>Italic hand from Harris 2.4mm angle 40d</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.5&partitions=4%2C4%2C4&gap=3&top_margin=3&rulings=10&angles=40%2C40%2C40&distance=5&title=Italic+hand+from+Harris+1.5mm+angle+40d&generate=generate'>Italic hand from Harris 1.5mm angle 40d</a></li>
      <li><a href='http://noufalibrahim.name/rulings/download?nib_width=1.1&partitions=4%2C4%2C4&gap=3&top_margin=3&rulings=10&angles=&distance=5&title=Italic+hand+from+Harris+1.1mm+&generate=generate'>Italic hand from Harris 1.1mm </a></li>
    </ul>


    <h2> Thanks </h2>
    I'd love to have <a href="mailto:noufal@nibrahim.net.in">emails and feedback</a> about the script especially from professional calligraphers. Programmers can file issues on the <a href="https://github.com/nibrahim/Calligraphic-Rulings/issues">github tracker</a>. If you <em>really</em> want to thank me, here is my <a href="http://www.amazon.com/gp/registry/wishlist/1CDRFGRMHO4K8/ref=topnav_lists_1">Amazon wishlist</a>. :)
  </body>
<footer>
Copyright 2012 - <a href="http://nibrahim.net.in">Noufal Ibrahim</a>. <em>noufal@nibrahim.net.in</em>
<br/>
  Code for this website is available at <a href="https://github.com/nibrahim/Calligraphic-Rulings">https://github.com/nibrahim/Calligraphic-Rulings</a>.
  <br/>
  Styling for the form above taken from <a href="http://www.html5rocks.com/en/tutorials/forms/html5forms/">html5rocks</a>.
</footer>
</body>

